body {
    background-color: black;
    text-align: center;
}

h1 {
    color: lawngreen;
    font-family: "Kings", cursive;
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    font-family: "Agbalumo", cursive;
    text-align: center;
    font-size: 30px;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    color: red;
    font-size: 25px;
    font-family: "Send Flowers", cursive;
    display: inline-block;
    transition: color 0s ease-in;
}

.navigation a:hover {
    color: blueviolet;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

main {
    padding-top: 10%;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }
    .image-container {
        justify-content: center;
    }
    .img-container img {
        max-width: 150px;
        height: auto;
    }
}
